.auth-card {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #33373a;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


::ng-deep .mat-button-toggle-group {
  display: flex;
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #2c2c2c;
}

::ng-deep .mat-button-toggle {
  flex: 1 1 50%;
  text-align: center;
  border: none;
  color: white !important;
}

::ng-deep .mat-button-toggle-checked {
  background-color: white !important;
  color: #000 !important;
}
