<div class="navigation-wrapper">
  <div class="navigation-element">
    <button [routerLink]="['Placeholder']" mat-button>
      <mat-icon fontIcon="home"></mat-icon> Placeholder
    </button>
  </div>
  <div class="navigation-element">
    <button [routerLink]="['Placeholder']" mat-button>
      <mat-icon fontIcon="home"></mat-icon> Placeholder
    </button>
  </div>
  <div class="navigation-element">
    <button [routerLink]="['Placeholder']" mat-button>
      <mat-icon fontIcon="home"></mat-icon> Placeholder
    </button>
  </div>
  <div class="navigation-element">
    <button [routerLink]="['Placeholder']" mat-button>
      <mat-icon fontIcon="home"></mat-icon> Placeholder
    </button>
  </div>
</div>
